# SPDX-FileCopyrightText: 2021 Luke Granger-Brown <git@lukegb.com>
#
# SPDX-License-Identifier: CC0-1.0

name: "Test"
on:
  pull_request:
  push:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: cachix/install-nix-action@v13
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - uses: cachix/cachix-action@v10
      with:
        name: buildcatrust
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

    # Do the initial grabbing of the bits we need.
    - run: nix-shell --run "true"

    - run: nix-shell --run "pre-commit run --all --color=always --show-diff-on-failure"
    - run: nix-shell --run "pytest"
